*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    color: black;
    justify-content: center;    
    align-items: center; 
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
body h1{
    font-size: 2.4em;
    padding: 5%;
}
form {
    margin: 2px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(24, 123, 204);
    width: 28em;
    color: rgb(49, 49, 49);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
    font-weight: bold;

}
form label{
    text-align: left;
    font-size: 20px;
    margin-top: 3px;
    padding-top: 1px;
}
form input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 105%;
    text-align: left;
    color: black;

}
form button{
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transform: translate(1px,5px);
    font-size: 20px;
    background-color: rgb(49, 49, 49);
    color: white;
    cursor: pointer;
    font-weight: bolder;
    color:azure ;
    box-shadow: 0px 0px 10px rgba(26, 26, 26, 0.589);
    
}
form button:hover{
    background-color: rgb(43, 42, 42);
    color:rgb(218, 218, 218);
    text-decoration: underline;
    transition: 0.6s all;

}
form button:active{
    transform: translateY(8px);
    transition: 0.1s all;
    color: rgb(87, 87, 87);
}